---
layout: default
---

<div class="home">
 <div class="top card">
    <a class="name" href="mailto:{{ site.email }}">{{ site.title }}</a>
    <div class="description">
      {% capture desc %}{% include description.markdown %}{% endcapture %}
      {{ desc | markdownify }}
    </div>

    <div class="social-links">
      <a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="{{ site.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="{{ site.linkedin }}" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <!--<a href="about" class="btn">Read More</a>-->
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">Speaking</span>

      <ul class="conference-list">
        {% for conference in site.conferences reversed %}
          <li>
            
            <a class="post-link" target="_blank" href="{{ conference.website }}">{{conference.title}}</a>
            <span>, {{ conference.date | date: "%d-%m-%Y" }} </span>

            {% if conference.video %}
              <span class="post-meta"><a target="_blank" href="{{ conference.video  }}">Video</a></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      </div>
   </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102680996-1', 'auto');
  ga('send', 'pageview');

</script>